.App {
  text-align: center;
}
/* 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.trainList {
  list-style: none;
}

.trainForm {
  background-color: white;
  padding-top: 20px;
  max-width: calc(100px +2vmin);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.trainForm > input {
  color: black;
  font-size: calc(10px + 2vmin);
  border-radius: 3px;
}
.trainForm > button {
  border-radius: 3px;
  padding: 3px;
}
.trainForm > button:hover {
  color: white;
  background-color: #858688;
}
.trainList {
  padding: 10px;
  display: inline-block;
  background-color: #d1d0d0;
  border-radius: 3px;
}
.citiesList {
  list-style: none;
}
