.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-width: 200px;
  max-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 20px;
}
.h1Trains {
  height: 55px;
  margin: 0;
  padding-top: 10px;
  background-image: linear-gradient(
    to right,
    rgb(255, 145, 0),
    rgb(240, 107, 189)
  );
}

footer {
  padding: 10px;
}
.trainList {
  list-style: none;
}
input[type="text"],
select {
  width: 24%;
  text-align: center;
  background-color: white;
  color: white;
  padding: 10px 20px;
  margin: 3px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.list {
  background-color: #ecfaf7;
  border: 1px solid black;
  border-radius: 4px;
  min-height: 100px;
  max-height: 332px;
  min-width: 260px;
  max-width: 260px;
  padding-top: 15px;
  margin-left: 41.5%;
}

.trainDiv {
  display: inline-block;
  width: 25%;
  max-height: 95%;
  background-color: white !important;
  color: black;
  padding: 7px;
  padding-bottom: 10px;
  margin: 8px 5px;
  border: 1px solid black;
  border-radius: 4px;
}
h3 {
  color: rgb(41, 40, 40);
}
.trainForm > input {
  color: black;
  font-size: calc(10px + 1vmin);
  border-radius: 3px;
}
.trainForm > button {
  float: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 1em;
}
.trainForm > button:hover {
  color: white;
  background-color: #858688;
  border: 1.5px solid rgb(63, 62, 62);
}

body {
  background-image: linear-gradient(whitesmoke, rgb(253, 252, 252));
}
footer {
  background-color: whitesmoke;
  width: 100%;
  color: grey;
  position: fixed;
  left: 0;
  padding-top: 0px;
  bottom: 0;
  text-align: center;
}
.clearButton {
  float: none;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
  font-size: 1em;
}
.clearButton:hover {
  color: white;
  background-color: #858688;
  border: 1.5px solid rgb(63, 62, 62);
}
* {
  box-sizing: border-box;
}
.column {
  background-color: transparent;
  display: inline-block;
  float: none;
  width: 20.33%;
  padding: 20px;
  height: 200px;
  color: grey;
}

img {
  border: 2px solid rgb(240, 107, 189);
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height: 130px;
}
